Challenges from HackerRank website

### Lonely Integer
Given an array of integers, where all elements but one occur twice, find the unique element

In [14]:
a = [1,2,3,4,1,2,3]

def lonelyinteger(a):
    xor_zero = 0
    for num in a:
        xor_zero ^= num
    return xor_zero

lonelyinteger(a)

4

Using the XOR operation to null the duplicates and keep the only unique value  
This only works if all the elements have a single duplicate and only one element is unique

In [38]:
def lonelyinteger2(a):
    unique_set = set()
    for num in a:
        if num in unique_set:
            unique_set.remove(num)
        else:
            unique_set.add(num)
    return unique_set.pop()

lonelyinteger2(a)

4

For this case, can use a set or a list. Advantage of set is that it guarantees uniqueness of vallues inside, also membership testing, insertion and deletion are much more performant with set type

### Diagonal Difference
Given a square matrix, calculate the absolute difference between the sums of its diagonals.

In [73]:
#input
arr = [[1, 2, 3],
       [4,5,6],
       [9,8,9]]
arr

[[1, 2, 3], [4, 5, 6], [9, 8, 9]]

In [74]:
n=len(arr)
left_sum = 0
right_sum = 0

for idx, row in enumerate(arr):
    print(idx, row)
    left_sum += row[idx]
    print(left_sum)
    print(n-1-idx, row)
    right_sum += row[n-1-idx]
    print(right_sum)

abs(left_sum-right_sum)

0 [1, 2, 3]
1
2 [1, 2, 3]
3
1 [4, 5, 6]
6
1 [4, 5, 6]
8
2 [9, 8, 9]
15
0 [9, 8, 9]
17

2

In [79]:
# another solution, cleaner
n = len(arr)
left_sum = 0
right_sum = 0

for i in range(n):
    left_sum += arr[i][i]
    right_sum += arr[i][n-1-i]

abs(left_sum - right_sum)

2

### Comparison Sorting
Given a list of integers, count and return the number of times each value appears as an array of integers.

In [84]:
# input
n = 100
int_str = "63 25 73 1 98 73 56 84 86 57 16 83 8 25 81 56 9 53 98 67 99 12 83 89 80 91 39 86 76 85 74 39 25 90 59 10 94 32 44 3 89 30 27 79 46 96 27 32 18 21 92 69 81 40 40 34 68 78 24 87 42 69 23 41 78 22 6 90 99 89 50 30 20 1 43 3 70 95 33 46 44 9 69 48 33 60 65 16 82 67 61 32 21 79 75 75 13 87 70 33" 
int_list = list(map(int, int_str.split()))
int_list

[63,
 25,
 73,
 1,
 98,
 73,
 56,
 84,
 86,
 57,
 16,
 83,
 8,
 25,
 81,
 56,
 9,
 53,
 98,
 67,
 99,
 12,
 83,
 89,
 80,
 91,
 39,
 86,
 76,
 85,
 74,
 39,
 25,
 90,
 59,
 10,
 94,
 32,
 44,
 3,
 89,
 30,
 27,
 79,
 46,
 96,
 27,
 32,
 18,
 21,
 92,
 69,
 81,
 40,
 40,
 34,
 68,
 78,
 24,
 87,
 42,
 69,
 23,
 41,
 78,
 22,
 6,
 90,
 99,
 89,
 50,
 30,
 20,
 1,
 43,
 3,
 70,
 95,
 33,
 46,
 44,
 9,
 69,
 48,
 33,
 60,
 65,
 16,
 82,
 67,
 61,
 32,
 21,
 79,
 75,
 75,
 13,
 87,
 70,
 33]

In [101]:
zeros_list = [0] * 100
len(zeros_list)

100

In [102]:
for num in int_list:
    zeros_list[num] += 1
zeros_list

[0,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 0,
 1,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 2,
 1,
 1,
 1,
 3,
 0,
 2,
 0,
 0,
 2,
 0,
 3,
 3,
 1,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 1,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 3,
 2,
 0,
 0,
 2,
 1,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 2,
 2,
 0,
 3,
 2,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 2,
 2]

In [103]:
class SinglyLinkedListNode:
    def __init__(self, data):
        self.data = data
        self.next = None

dummy = SinglyLinkedListNode(0)

In [108]:
dummy.next